<a href="https://colab.research.google.com/github/KOMPALALOKESH/assignment/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!git clone 'https://github.com/KOMPALALOKESH/assignment'

Cloning into 'assignment'...
remote: Enumerating objects: 8, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 8 (delta 0), reused 3 (delta 0), pack-reused 5
Receiving objects: 100% (8/8), 41.80 MiB | 34.41 MiB/s, done.

In [11]:
cd '/content/assignment'

/content/assignment

In [14]:
# import pandas lib as pd
import pandas as pd

# read by default 1st sheet of an excel file
df = pd.read_excel('/content/assignment/data.xlsx')

In [18]:
df.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,...,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,...,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
3,13418779,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,...,37.772004,-122.431619,Beautiful Flat in the Heart of SF!,Lower Haight,0,NaN,https://a0.muscache.com/im/pictures/72208dad-9...,94117,2.0,2.0
4,3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,...,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      74111 non-null  int64
 1   log_price               74111 non-null  float64
 2   property_type           74111 non-null  object
 3   room_type               74111 non-null  object
 4   amenities               74111 non-null  object
 5   accommodates            74111 non-null  int64
 6   bathrooms               73911 non-null  float64
 7   bed_type                74111 non-null  object
 8   cancellation_policy     74111 non-null  object
 9   cleaning_fee            74111 non-null  bool
 10  city                    74111 non-null  object
 11  description             74105 non-null  object
 12  first_review            58247 non-null  object
 13  host_has_profile_pic    73923 non-null  object
 14  host_identity_verified  73923 non-null  object
 15  host_response_rate      55812 non-null  float64
 16  host_since              73923 non-null  object
 17  instant_bookable        74111 non-null  object
 18  last_review             58284 non-null  object
 19  latitude                74111 non-null  float64
 20  longitude               74111 non-null  float64
 21  name                    74101 non-null  object
 22  neighbourhood           67239 non-null  object
 23  number_of_reviews       74111 non-null  int64
 24  review_scores_rating    57389 non-null  float64
 25  thumbnail_url           65895 non-null  object
 26  zipcode                 73145 non-null  object
 27  bedrooms                74020 non-null  float64
 28  beds                    73980 non-null  float64
dtypes: bool(1), float64(8), int64(3), object(17)
memory usage: 15.9+ MB

In [24]:
df.isna().sum()

id                            0
log_price                     0
property_type                 0
room_type                     0
amenities                     0
accommodates                  0
bathrooms                   200
bed_type                      0
cancellation_policy           0
cleaning_fee                  0
city                          0
description                   6
first_review              15864
host_has_profile_pic        188
host_identity_verified      188
host_response_rate        18299
host_since                  188
instant_bookable              0
last_review               15827
latitude                      0
longitude                     0
name                         10
neighbourhood              6872
number_of_reviews             0
review_scores_rating      16722
thumbnail_url              8216
zipcode                     966
bedrooms                     91
beds                        131
dtype: int64

In [25]:
from datetime import datetime

# Convert 'host_since' and 'last_review' columns to datetime objects
df['host_since'] = pd.to_datetime(df['host_since'])
df['last_review'] = pd.to_datetime(df['last_review'])

In [26]:
# Calculate Host_Tenure
current_date = datetime.now()
df['Host_Tenure'] = (current_date - df['host_since']).dt.days / 365.25  # Dividing by 365.25 to get years accurately

In [28]:
# Generate Amenities_Count
df['Amenities_Count'] = df['amenities'].apply(lambda x: len(x.split(',')))

In [29]:
# Determine Days_Since_Last_Review
df['Days_Since_Last_Review'] = (current_date - df['last_review']).dt.days

In [30]:
# Handling missing values
df['Amenities_Count'].fillna(0, inplace=True)  # Treat missing values in Amenities_Count as 0
df.dropna(subset=['host_since', 'last_review'], inplace=True)  # Drop rows with missing host_since or last_review values

In [ ]:
# Display the updated dataframe
df.head()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Correlation Analysis
corr_matrix = df.corr()
plt.figure(figsize=(10, 8))
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix')
plt.show()

In [ ]:


# Distribution Analysis
plt.figure(figsize=(10, 6))
sns.histplot(df['log_price'], kde=True, color='blue', bins=30)
plt.title('Distribution of Log Price')
plt.xlabel('Log Price')
plt.ylabel('Frequency')
plt.show()

# Categorical Analysis
plt.figure(figsize=(12, 6))
sns.boxplot(x='room_type', y='log_price', data=df)
plt.title('Log Price vs Room Type')
plt.xlabel('Room Type')
plt.ylabel('Log Price')
plt.show()

plt.figure(figsize=(12, 6))
sns.boxplot(x='property_type', y='log_price', data=df)
plt.title('Log Price vs Property Type')
plt.xlabel('Property Type')
plt.ylabel('Log Price')
plt.xticks(rotation=45)
plt.show()

# Scatter Plots
plt.figure(figsize=(10, 6))
sns.scatterplot(x='accommodates', y='log_price', data=df)
plt.title('Log Price vs Accommodates')
plt.xlabel('Accommodates')
plt.ylabel('Log Price')
plt.show()

plt.figure(figsize=(10, 6))
sns.scatterplot(x='number_of_reviews', y='log_price', data=df)
plt.title('Log Price vs Number of Reviews')
plt.xlabel('Number of Reviews')
plt.ylabel('Log Price')
plt.show()

In [36]:
df['city'].unique()

array(['NYC', 'DC', 'SF', 'LA', 'Chicago', 'Boston'], dtype=object)